/*bringing contentb of stats to center*/
#stats {
    text-align: center;
    margin-top: 40px;
  }
  
  #stats h2 {
    margin-bottom: 20px;
  }
  
  #stats p {
    margin-bottom: 10px;
  }
  
  #goldSilverChart {
    display: block;
    margin: 20px auto; /* Centers the canvas horizontally */
  }

  /*recycling processes css*/
  .recycling-step {
    display: inline-block;
    width: 22%;

    margin: 1%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
  }
  
  .recycling-step:hover {
    transform: translateY(-10px);
  }
  
  .recycling-step img {
    width: 100%; 
    height: 150px; /* Fixed height for all images */
    object-fit: cover; /* Ensures images maintain aspect ratio */
    border-radius: 8px;
    margin-top: 20px;
  }
  
/*form*/
  #pickup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Limit form width for better aesthetics */
  }
  
  label {
    margin-top: 10px;
  }
  
  input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #3B82F6;
    color: white;
    cursor: pointer;

  }
  
  button:hover {
    background-color: #064813;
  }
  

  /*location*/
  #locations {
    text-align: center;
    padding: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #3B82F6;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #1E293B;
  }

  
  /*live data tracking*/
   
  #live-data {
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }

  .dashboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .card {
    background-color: #1E293B;
    color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 12px;
    width: 22%;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  h3 {
    color: #3B82F6;
    margin-bottom: 10px;
  }


  /*awareness */
  #awareness {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  
  .blog-posts {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .blog-card {
    background-color: #1E293B;
    border-radius: 12px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
  }
  
  .blog-card:hover {
    transform: translateY(-10px);
  }
  
 